openapi: 3.1.0
info:
  contact:
    email: support@circuitid.com
    url: https://www.circuitid.com/
  description: "# Introduction\nCircuit ID&reg; is an innovative cloud communications\
    \ platform that redefines your connectivity experience. Our cutting-edge AI-powered\
    \ solution seamlessly integrates calling, meetings, messaging, voicemail, fax,\
    \ SIP Trunking, mobile broadband, and mobile phone services, accessible wherever\
    \ you and your devices go.\n                \nWhether you are a beginner getting\
    \ started with our API or an experienced developer looking for advanced features,\
    \ this documentation site will serve as your comprehensive guide. \n\nWe are excited\
    \ to have you on board and are confident that this documentation site will empower\
    \ you to leverage the full potential of our REST API.  If you have any questions\
    \ or require further assistance, please don't hesitate to reach out to our support\
    \ team.\n                \nHappy coding!"
  termsOfService: https://www.circuitid.com/legal/legal-msa.htm
  title: Circuit ID REST API
  version: 0.47.17
  x-logo:
    url: https://cdn.circuitid.com/images/logos/circuitid-logo.png
servers:
- description: Production
  url: https://cloud9.circuitid.com
security:
- jwt: []
tags:
- description: "The Authentication services creates and returns a JWT that can be\
    \ used for short-term access to the API endpoints.  To create long-term tokens\
    \ one (1) year or greater, create a <a href='#tag/User-Tokens/operation/createUserToken'>User\
    \ Token (/usertokens)</a> via the API or in the <a href='https://console.circuitid.com/'\
    \ target='_blank'>Online Portal.</a><br><br>Long-term tokens are recommended for\
    \ server applications."
  name: Authentication
- description: Accepted Senders represent authorized users who have the privilege
    to send Faxes and/or SMS messages. These designated individuals or entities are
    granted the necessary permissions to initiate communication through the system's
    functionalities.
  name: Accepted Senders
- description: Announcements are pre-recorded or text-to-speech messages that plays
    during various interactions within the system.
  name: Announcements
- description: "The App Marketplace offers a curated collection of applications developed\
    \ by various software creators and companies. Users can browse, discover, and\
    \ install these applications, tailored to their specific needs and interests."
  name: App Marketplace
- description: "Contacts are records that stores information about an individual or\
    \ entity within the system's database.  Also, contacts are used with other services\
    \ to identify individuals or entities."
  name: Contacts
- description: Call Queues are a powerful set of functionalities for managing and
    organizing incoming calls in a systematic and efficient manner.
  name: Call Queues
- description: Call Queue Agents handle calls within specific call queues.
  name: Call Queue Agents
- description: Chat Rooms are virtual spaces or channels where multiple users can
    engage in real-time text-based communication.
  name: Chat Rooms
- description: "VoIP phones, or IP phones, enable voice calls over the internet through\
    \ VoIP technology. When clients are added to the system, the phones can automatically\
    \ provision themselves, simplifying setup and configuration processes."
  name: Clients
- description: "Conversations allow users to send and receive SMS/MMS messages in\
    \ real-time, facilitating communication between individuals, businesses, or groups."
  name: Conversations
- description: Conversation Messages refer to the real-time individual units of communication
    exchanged within a conversation.
  name: Conversation Messages
- description: "Online conference rooms are a virtual spaces where participants can\
    \ collaborate and communicate in real-time through audio, video, screen share\
    \ and chat-based interactions."
  name: Conference Rooms
- description: Dial-in conference numbers are dedicated phone numbers provided so
    that participants can use to join conference calls.
  name: Conference Numbers
- description: Customers represents individual customers or clients within the system.
  name: Customers
- description: A collection of applications developed by various software creators
    and companies that are available to customers in the App Marketplace.
  name: Developer Apps
- description: Customer Subscription's to Developer Apps in the App Marketplace. This
    allows customers to gain access to and utilize the features and functionalities
    provided by these apps.
  name: Developer App Subscriptions
- description: Directories are AI-powered automated phone system features that assist
    callers in locating and connecting with a specific individual within an organization
    through voice commands or extension dialing.
  name: Directories
- description: "Verified domains provide domain-based authentication for a range of\
    \ services within the system. One practical application is in authorizing accepted\
    \ senders based on the domain from which an email is sent. By validating the domain's\
    \ authenticity, the system ensures that only authorized senders can interact with\
    \ the services, enhancing security and preventing unauthorized access."
  name: Domains
- description: DNS records are used to verify domains.
  name: DNS Records
- description: Faxes allows users to send and receive faxes using the internet instead
    of traditional fax machines and phone lines.
  name: Faxes
- description: "Fax accounts are designed to facilitate the sending and receiving\
    \ of faxes, encompassing all the necessary settings for fax-related activities.\
    \ These accounts serve as a centralized platform where users can configure their\
    \ fax preferences and to manage contact information."
  name: Fax Accounts
- description: "The Find Numbers service provides users with the ability to search\
    \ for various types of phone numbers, including local, international, toll-free,\
    \ and SMS/MMS numbers. Through this service, users can easily discover and obtain\
    \ phone numbers that suit their specific needs, whether it's for local communication,\
    \ international connections, toll-free services, or messaging capabilities."
  name: Find Numbers
- description: "A firewall designed to block unwanted traffic from phone calls, SMS/MMS\
    \ messages, and outbound calls that offers robust filtering and control capabilities.\
    \ This firewall acts as a protective barrier between the system and external sources,\
    \ enabling users to define rules and criteria for filtering incoming and outgoing\
    \ communication."
  name: Firewall
- description: "Groups are used for the purpose of managing access rights, permissions,\
    \ and settings for a defined set of users, devices and/or IP addresses."
  name: Groups
- description: "Group members are users, devices and/or IP addresses that who belong\
    \ to a specific user group. These members share common attributes, roles, and/or\
    \ permissions assigned to the user group."
  name: Group Members
- description: "Holidays are specific dates and times that designate non-working periods\
    \ within the system. They serve as indicators that a business or individual is\
    \ unavailable during these times. For instance, holidays can be set up to automatically\
    \ route calls to an after-hours auto attendant, ensuring proper handling of incoming\
    \ calls during non-operational hours."
  name: Holidays
- description: "The API information endpoint offers a comprehensive range of data\
    \ that enables seamless interaction with the service. This endpoint serves as\
    \ a valuable resource, providing developers with essential information to effectively\
    \ utilize and integrate their applications or systems with the API."
  name: Info
- description: "Invoice items are individual line items or entries listed on an invoice,\
    \ representing the goods, products, or services provided."
  name: Invoice Items
- description: "Invoices serves as a record of a transaction and includes details\
    \ such as the seller's and buyer's names and addresses, invoice number, date of\
    \ issue, payments, and payment terms."
  name: Invoices
- description: "Licenses are used to apply subscriptions to users, services, or devices\
    \ within the system. By assigning licenses, administrators can enable access to\
    \ specific features or functionalities for individual users or devices, controlling\
    \ their permissions and capabilities within the system. This allows for a flexible\
    \ and customizable approach to managing subscriptions and access levels based\
    \ on user roles and requirements."
  name: Licenses
- description: "A menu, or auto attendant, is an automated virtual receptionist system\
    \ that handles incoming calls, provides callers with pre-recorded greetings and\
    \ menu options, and routes calls to the appropriate extension or department without\
    \ the need for human intervention. It allows businesses to manage call flows efficiently,\
    \ improve customer service, and streamline communications by automating call handling\
    \ processes."
  name: Menus
- description: Menu options are pre-defined selections presented to callers when they
    interact with a a menu (automated virtual receptionist system).
  name: Menu Options
- description: A campaign serves as a scenario for sending A2P (Application-to-Person)
    SMS/MMS messages. You can register a campaign to send outbound SMS/MMS messages.
  name: Message Campaigns
- description: A 10DLC Message Brand refers to a business or individual entity responsible
    for sending SMS/MMS messages. Sending SMS/MMS messages necessitates having a registered
    10DLC Message Brand.
  name: Message Brands
- description: "Phone numbers are telephone numbers associated with internet-based\
    \ communication technology, enabling voice calls and other telephony services\
    \ over the internet instead of traditional phone lines."
  name: Numbers
- description: "Phone number porting, also known as number portability, is the process\
    \ of transferring an existing phone number from one telecommunications service\
    \ provider to another. This allows users to keep their existing phone number when\
    \ switching carriers or changing their communication service, ensuring continuity\
    \ and convenience without the need to notify all contacts of a new number."
  name: Number Ports
- description: "Offices refer to physical locations or spaces within a building, complex,\
    \ or establishment where business activities, administrative tasks, and professional\
    \ work are conducted. Offices can be associated with users, services and for billing\
    \ purposes within the system."
  name: Offices
- description: A phone inbound rule is a collection of predefined configurations set
    up to route inbound calls to specific destinations or extensions based on certain
    criteria.
  name: Phone Inbound Rules
- description: A phone outbound rule is a collection of predefined configurations
    set up to route outbound calls to specific destinations or extensions based on
    certain criteria.
  name: Phone Outbound Rules
- description: A phone inbound rule action is a predefined configuration set up to
    route inbound calls to specific destinations or extensions based on certain criteria.
  name: Phone Inbound Rule Actions
- description: A phone inbound rule action is a predefined configuration set up to
    route outbound calls to specific destinations or extensions based on certain criteria.
  name: Phone Outbound Rule Actions
- description: "Rate centers are geographic areas, such as cities or regions, used\
    \ in the telecommunications."
  name: Rate Centers
- description: "Servers, like Asterisk, FreeSWITCH, Skype, 3CX and others are software-based\
    \ communication systems that facilitate Voice over Internet Protocol (VoIP) services.\
    \ These servers handle call processing, signaling, and media functions, allowing\
    \ users to make voice and video calls over the internet."
  name: Servers
- description: "A time schedule is a configuration that allows users to define specific\
    \ periods when a business is open or closed. This schedule determines how incoming\
    \ calls are handled during different hours of the day, week, or year."
  name: Time Schedules
- description: A user refers to an individual or an authorized entity who has access
    to the system and consumes its services or use its management features to configure
    the account.
  name: Users
- description: User tokens are long-lived JWT that can be used to access the API.
  name: User Tokens
- description: Virtual Extensions are extensions that can be used to route callers
    to specific destinations within the phone system.
  name: Virtual Extensions
- description: "Voicemail is a feature that allows callers to leave recorded messages\
    \ when the recipient is unable to answer a phone call. It serves as a digital\
    \ answering machine, enabling people to retrieve and listen to messages at their\
    \ convenience."
  name: Voicemail
paths:
  /authentication:
    post:
      description: Add a new object to the system.
      operationId: createAuthentication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authentication'
        description: The JSON object that will be posted to the REST API endpoint.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/authentication'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the new object created
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Create a new object
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts: application/json
  /acceptedsenders/{id}:
    delete:
      description: "Delete an object by id, removing it from the service."
      operationId: removeAcceptedSender
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/acceptedsenders'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the deleted data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Delete object by id
      tags:
      - Accepted Senders
      x-accepts: application/json
    get:
      description: Get an object from the REST API Endpoint by its unique id.
      operationId: getAcceptedSender
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/acceptedsenders'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the requested data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseError'
          description: Not Found
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Get object by id
      tags:
      - Accepted Senders
      x-accepts: application/json
    patch:
      description: Make updates to specific fields within the record without replacing
        the entire dataset.
      operationId: patchAcceptedSender
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/acceptedsenders'
        description: The request data.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/acceptedsenders'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the modified data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Patch object's data
      tags:
      - Accepted Senders
      x-content-type: application/json
      x-accepts: application/json
  /acceptedsenders:
    get:
      description: 'Search and retrieve multiple objects simultaneously. '
      operationId: findAcceptedSenders
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/or'
      - $ref: '#/components/parameters/and'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAcceptedSenders_200_response'
          description: A JSON object containing the requested data
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Find multiple objects
      tags:
      - Accepted Senders
      x-accepts: application/json
    post:
      description: Add a new object to the system.
      operationId: createAcceptedSender
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/acceptedsenders'
        description: The JSON object that will be posted to the REST API endpoint.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/acceptedsenders'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the new object created
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Create a new object
      tags:
      - Accepted Senders
      x-content-type: application/json
      x-accepts: application/json
  /announcements/{id}:
    delete:
      description: "Delete an object by id, removing it from the service."
      operationId: removeAnnouncement
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/announcements'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the deleted data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Delete object by id
      tags:
      - Announcements
      x-accepts: application/json
    get:
      description: Get an object from the REST API Endpoint by its unique id.
      operationId: getAnnouncement
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/announcements'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the requested data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseError'
          description: Not Found
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Get object by id
      tags:
      - Announcements
      x-accepts: application/json
    patch:
      description: Make updates to specific fields within the record without replacing
        the entire dataset.
      operationId: patchAnnouncement
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/announcements'
        description: The request data.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/announcements'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the modified data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Patch object's data
      tags:
      - Announcements
      x-content-type: application/json
      x-accepts: application/json
  /announcements:
    get:
      description: 'Search and retrieve multiple objects simultaneously. '
      operationId: findAnnouncements
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/or'
      - $ref: '#/components/parameters/and'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findAnnouncements_200_response'
          description: A JSON object containing the requested data
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Find multiple objects
      tags:
      - Announcements
      x-accepts: application/json
    post:
      description: Add a new object to the system.
      operationId: createAnnouncement
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/announcements'
        description: The JSON object that will be posted to the REST API endpoint.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/announcements'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the new object created
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Create a new object
      tags:
      - Announcements
      x-content-type: application/json
      x-accepts: application/json
  /appmarketplace:
    get:
      description: 'Search and retrieve multiple objects simultaneously. '
      operationId: findAppMarketplace
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/or'
      - $ref: '#/components/parameters/and'
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: A JSON object containing the requested data
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Find multiple objects
      tags:
      - App Marketplace
      x-accepts: application/json
  /contacts/{id}:
    delete:
      description: "Delete an object by id, removing it from the service."
      operationId: removeContact
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/contacts'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the deleted data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Delete object by id
      tags:
      - Contacts
      x-accepts: application/json
    get:
      description: Get an object from the REST API Endpoint by its unique id.
      operationId: getContact
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/contacts'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the requested data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseError'
          description: Not Found
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Get object by id
      tags:
      - Contacts
      x-accepts: application/json
    patch:
      description: Make updates to specific fields within the record without replacing
        the entire dataset.
      operationId: patchContact
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contacts'
        description: The request data.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/contacts'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the modified data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Patch object's data
      tags:
      - Contacts
      x-content-type: application/json
      x-accepts: application/json
  /contacts:
    get:
      description: 'Search and retrieve multiple objects simultaneously. '
      operationId: findContacts
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/or'
      - $ref: '#/components/parameters/and'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findContacts_200_response'
          description: A JSON object containing the requested data
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Find multiple objects
      tags:
      - Contacts
      x-accepts: application/json
    post:
      description: Add a new object to the system.
      operationId: createContact
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contacts'
        description: The JSON object that will be posted to the REST API endpoint.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/contacts'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the new object created
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Create a new object
      tags:
      - Contacts
      x-content-type: application/json
      x-accepts: application/json
  /callqueues/{id}:
    delete:
      description: "Delete an object by id, removing it from the service."
      operationId: removeCallQueue
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/callqueues'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the deleted data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Delete object by id
      tags:
      - Call Queues
      x-accepts: application/json
    get:
      description: Get an object from the REST API Endpoint by its unique id.
      operationId: getCallQueue
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/callqueues'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the requested data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseError'
          description: Not Found
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Get object by id
      tags:
      - Call Queues
      x-accepts: application/json
    patch:
      description: Make updates to specific fields within the record without replacing
        the entire dataset.
      operationId: patchCallQueue
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/callqueues'
        description: The request data.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/callqueues'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the modified data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Patch object's data
      tags:
      - Call Queues
      x-content-type: application/json
      x-accepts: application/json
  /callqueues:
    get:
      description: 'Search and retrieve multiple objects simultaneously. '
      operationId: findCallQueues
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/or'
      - $ref: '#/components/parameters/and'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findCallQueues_200_response'
          description: A JSON object containing the requested data
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Find multiple objects
      tags:
      - Call Queues
      x-accepts: application/json
    post:
      description: Add a new object to the system.
      operationId: createCallQueue
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/callqueues'
        description: The JSON object that will be posted to the REST API endpoint.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/callqueues'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the new object created
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Create a new object
      tags:
      - Call Queues
      x-content-type: application/json
      x-accepts: application/json
  /callqueueagents/{id}:
    delete:
      description: "Delete an object by id, removing it from the service."
      operationId: removeCallQueue Agent
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/callqueueagents'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the deleted data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Delete object by id
      tags:
      - Call Queue Agents
      x-accepts: application/json
    get:
      description: Get an object from the REST API Endpoint by its unique id.
      operationId: getCallQueue Agent
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/callqueueagents'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the requested data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseError'
          description: Not Found
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Get object by id
      tags:
      - Call Queue Agents
      x-accepts: application/json
    patch:
      description: Make updates to specific fields within the record without replacing
        the entire dataset.
      operationId: patchCallQueue Agent
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/callqueueagents'
        description: The request data.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/callqueueagents'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the modified data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Patch object's data
      tags:
      - Call Queue Agents
      x-content-type: application/json
      x-accepts: application/json
  /callqueueagents:
    get:
      description: 'Search and retrieve multiple objects simultaneously. '
      operationId: findCallQueue Agents
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/or'
      - $ref: '#/components/parameters/and'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findCallQueue_Agents_200_response'
          description: A JSON object containing the requested data
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Find multiple objects
      tags:
      - Call Queue Agents
      x-accepts: application/json
    post:
      description: Add a new object to the system.
      operationId: createCallQueue Agent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/callqueueagents'
        description: The JSON object that will be posted to the REST API endpoint.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/callqueueagents'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the new object created
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Create a new object
      tags:
      - Call Queue Agents
      x-content-type: application/json
      x-accepts: application/json
  /chatrooms/{id}:
    delete:
      description: "Delete an object by id, removing it from the service."
      operationId: removeChatRoom
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/chatrooms'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the deleted data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Delete object by id
      tags:
      - Chat Rooms
      x-accepts: application/json
    get:
      description: Get an object from the REST API Endpoint by its unique id.
      operationId: getChatRoom
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/chatrooms'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the requested data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseError'
          description: Not Found
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Get object by id
      tags:
      - Chat Rooms
      x-accepts: application/json
    patch:
      description: Make updates to specific fields within the record without replacing
        the entire dataset.
      operationId: patchChatRoom
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chatrooms'
        description: The request data.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/chatrooms'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the modified data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Patch object's data
      tags:
      - Chat Rooms
      x-content-type: application/json
      x-accepts: application/json
  /chatrooms:
    get:
      description: 'Search and retrieve multiple objects simultaneously. '
      operationId: findChatRooms
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/or'
      - $ref: '#/components/parameters/and'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findChatRooms_200_response'
          description: A JSON object containing the requested data
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Find multiple objects
      tags:
      - Chat Rooms
      x-accepts: application/json
    post:
      description: Add a new object to the system.
      operationId: createChatRoom
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chatrooms'
        description: The JSON object that will be posted to the REST API endpoint.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/chatrooms'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the new object created
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Create a new object
      tags:
      - Chat Rooms
      x-content-type: application/json
      x-accepts: application/json
  /clients/{id}:
    delete:
      description: "Delete an object by id, removing it from the service."
      operationId: removeClient
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/clients'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the deleted data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Delete object by id
      tags:
      - Clients
      x-accepts: application/json
    get:
      description: Get an object from the REST API Endpoint by its unique id.
      operationId: getClient
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/clients'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the requested data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseError'
          description: Not Found
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Get object by id
      tags:
      - Clients
      x-accepts: application/json
    patch:
      description: Make updates to specific fields within the record without replacing
        the entire dataset.
      operationId: patchClient
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/clients'
        description: The request data.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/clients'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the modified data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Patch object's data
      tags:
      - Clients
      x-content-type: application/json
      x-accepts: application/json
  /clients:
    get:
      description: 'Search and retrieve multiple objects simultaneously. '
      operationId: findClients
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/or'
      - $ref: '#/components/parameters/and'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findClients_200_response'
          description: A JSON object containing the requested data
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Find multiple objects
      tags:
      - Clients
      x-accepts: application/json
    post:
      description: Add a new object to the system.
      operationId: createClient
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/clients'
        description: The JSON object that will be posted to the REST API endpoint.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/clients'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the new object created
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Create a new object
      tags:
      - Clients
      x-content-type: application/json
      x-accepts: application/json
  /conversations/{id}:
    delete:
      description: "Delete an object by id, removing it from the service."
      operationId: removeConversation
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/conversations'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the deleted data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Delete object by id
      tags:
      - Conversations
      x-accepts: application/json
    get:
      description: Get an object from the REST API Endpoint by its unique id.
      operationId: getConversation
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/conversations'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the requested data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseError'
          description: Not Found
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Get object by id
      tags:
      - Conversations
      x-accepts: application/json
    patch:
      description: Make updates to specific fields within the record without replacing
        the entire dataset.
      operationId: patchConversation
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/conversations'
        description: The request data.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/conversations'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the modified data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Patch object's data
      tags:
      - Conversations
      x-content-type: application/json
      x-accepts: application/json
  /conversations:
    get:
      description: 'Search and retrieve multiple objects simultaneously. '
      operationId: findConversations
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/or'
      - $ref: '#/components/parameters/and'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findConversations_200_response'
          description: A JSON object containing the requested data
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Find multiple objects
      tags:
      - Conversations
      x-accepts: application/json
    post:
      description: Add a new object to the system.
      operationId: createConversation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/conversations'
        description: The JSON object that will be posted to the REST API endpoint.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/conversations'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the new object created
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Create a new object
      tags:
      - Conversations
      x-content-type: application/json
      x-accepts: application/json
  /conversationmessages/{id}:
    delete:
      description: "Delete an object by id, removing it from the service."
      operationId: removeConversationMessage
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/conversationmessages'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the deleted data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Delete object by id
      tags:
      - Conversation Messages
      x-accepts: application/json
    get:
      description: Get an object from the REST API Endpoint by its unique id.
      operationId: getConversationMessage
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/conversationmessages'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the requested data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseError'
          description: Not Found
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Get object by id
      tags:
      - Conversation Messages
      x-accepts: application/json
    patch:
      description: Make updates to specific fields within the record without replacing
        the entire dataset.
      operationId: patchConversationMessage
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/conversationmessages'
        description: The request data.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/conversationmessages'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the modified data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Patch object's data
      tags:
      - Conversation Messages
      x-content-type: application/json
      x-accepts: application/json
  /conversationmessages:
    get:
      description: 'Search and retrieve multiple objects simultaneously. '
      operationId: findConversationMessages
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/or'
      - $ref: '#/components/parameters/and'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findConversationMessages_200_response'
          description: A JSON object containing the requested data
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Find multiple objects
      tags:
      - Conversation Messages
      x-accepts: application/json
    post:
      description: Add a new object to the system.
      operationId: createConversationMessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/conversationmessages'
        description: The JSON object that will be posted to the REST API endpoint.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/conversationmessages'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the new object created
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Create a new object
      tags:
      - Conversation Messages
      x-content-type: application/json
      x-accepts: application/json
  /conferencerooms/{id}:
    delete:
      description: "Delete an object by id, removing it from the service."
      operationId: removeConferenceRoom
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/conferencerooms'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the deleted data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Delete object by id
      tags:
      - Conference Rooms
      x-accepts: application/json
    get:
      description: Get an object from the REST API Endpoint by its unique id.
      operationId: getConferenceRoom
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/conferencerooms'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the requested data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseError'
          description: Not Found
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Get object by id
      tags:
      - Conference Rooms
      x-accepts: application/json
    patch:
      description: Make updates to specific fields within the record without replacing
        the entire dataset.
      operationId: patchConferenceRoom
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/conferencerooms'
        description: The request data.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/conferencerooms'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the modified data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Patch object's data
      tags:
      - Conference Rooms
      x-content-type: application/json
      x-accepts: application/json
  /conferencerooms:
    get:
      description: 'Search and retrieve multiple objects simultaneously. '
      operationId: findConferenceRooms
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/or'
      - $ref: '#/components/parameters/and'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findConferenceRooms_200_response'
          description: A JSON object containing the requested data
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Find multiple objects
      tags:
      - Conference Rooms
      x-accepts: application/json
    post:
      description: Add a new object to the system.
      operationId: createConferenceRoom
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/conferencerooms'
        description: The JSON object that will be posted to the REST API endpoint.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/conferencerooms'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the new object created
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Create a new object
      tags:
      - Conference Rooms
      x-content-type: application/json
      x-accepts: application/json
  /conferencenumbers:
    get:
      description: 'Search and retrieve multiple objects simultaneously. '
      operationId: findConferenceNumbers
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/or'
      - $ref: '#/components/parameters/and'
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: A JSON object containing the requested data
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Find multiple objects
      tags:
      - Conference Numbers
      x-accepts: application/json
  /customers/{id}:
    delete:
      description: "Delete an object by id, removing it from the service."
      operationId: removeCustomer
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/customers'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the deleted data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Delete object by id
      tags:
      - Customers
      x-accepts: application/json
    get:
      description: Get an object from the REST API Endpoint by its unique id.
      operationId: getCustomer
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/customers'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the requested data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseError'
          description: Not Found
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Get object by id
      tags:
      - Customers
      x-accepts: application/json
    patch:
      description: Make updates to specific fields within the record without replacing
        the entire dataset.
      operationId: patchCustomer
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customers'
        description: The request data.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/customers'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the modified data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Patch object's data
      tags:
      - Customers
      x-content-type: application/json
      x-accepts: application/json
  /customers:
    get:
      description: 'Search and retrieve multiple objects simultaneously. '
      operationId: findCustomers
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/or'
      - $ref: '#/components/parameters/and'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findCustomers_200_response'
          description: A JSON object containing the requested data
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Find multiple objects
      tags:
      - Customers
      x-accepts: application/json
    post:
      description: Add a new object to the system.
      operationId: createCustomer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customers'
        description: The JSON object that will be posted to the REST API endpoint.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/customers'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the new object created
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Create a new object
      tags:
      - Customers
      x-content-type: application/json
      x-accepts: application/json
  /developerapps/{id}:
    delete:
      description: "Delete an object by id, removing it from the service."
      operationId: removeDeveloperApp
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/developerapps'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the deleted data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Delete object by id
      tags:
      - Developer Apps
      x-accepts: application/json
    get:
      description: Get an object from the REST API Endpoint by its unique id.
      operationId: getDeveloperApp
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/developerapps'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the requested data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseError'
          description: Not Found
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Get object by id
      tags:
      - Developer Apps
      x-accepts: application/json
    patch:
      description: Make updates to specific fields within the record without replacing
        the entire dataset.
      operationId: patchDeveloperApp
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/developerapps'
        description: The request data.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/developerapps'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the modified data.
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Patch object's data
      tags:
      - Developer Apps
      x-content-type: application/json
      x-accepts: application/json
  /developerapps:
    get:
      description: 'Search and retrieve multiple objects simultaneously. '
      operationId: findDeveloperApps
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/or'
      - $ref: '#/components/parameters/and'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findDeveloperApps_200_response'
          description: A JSON object containing the requested data
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Find multiple objects
      tags:
      - Developer Apps
      x-accepts: application/json
    post:
      description: Add a new object to the system.
      operationId: createDeveloperApp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/developerapps'
        description: The JSON object that will be posted to the REST API endpoint.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/developerapps'
                - $ref: '#/components/schemas/responseUsers'
                - $ref: '#/components/schemas/responseDate'
          description: A JSON object containing the new object created
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "405":
          $ref: '#/components/responses/405'
        "406":
          $ref: '#/components/responses/406'
        "408":
          $ref: '#/components/responses/408'
        "429":
          $ref: '#/components/responses/429'
        "500":
          $ref: '#/components/responses/500'
        "503":
          $ref: '#/components/responses/503'
      summary: Create a new object
      tags:
      - Developer Apps
      x-content-type: application/json
      x-accepts: application/json
  /developerappsubscriptions/{id}:
    delete:
      description: "Delete an object by id, removing it from the service."
      operationId: removeDeveloperApp Subscription
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
[...]
